{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <h1>À propos de SF Commerce</h1>
    <div class="card">
        <div class="card-body">
            <p>Lucas Lanoue, étudiant en 2ème année de Développement Web à EFREI Paris</p>
        </div>
    </div>
{% endblock %}
