/* assets/styles/components/alerts.css */
.alert {
    padding: var(--spacing-md);
    border-radius: var(--radius);
    margin-bottom: var(--spacing-md);
    border: 1px solid transparent;
}

.alert-success {
    background-color: #DCFCE7;
    /* Green-100 */
    color: #166534;
    /* Green-800 */
    border-color: #86EFAC;
}

.alert-danger {
    background-color: #FEE2E2;
    /* Red-100 */
    color: #991B1B;
    /* Red-800 */
    border-color: #FECACA;
}

.alert-info {
    background-color: #DBEAFE;
    /* Blue-100 */
    color: #1E40AF;
    /* Blue-800 */
    border-color: #93C5FD;
}